<ion-header>
  <ion-toolbar>
    <ion-title>Programas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="principal">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<strong><h1 >Tegnologias</h1></strong>
  
  <h3>Tegnologias Modalidad Presencial</h3>
  
<ion-list>
  <a href="#">
    <ion-item>

      <ion-avatar slot="start">
       <img src="assets/Imagenes/comida.jpg">
      </ion-avatar>
        <ion-label >
          <h2>Tegnologia en Gastronomia y Arte Culinario</h2>
          <p>
            Los jóvenes egresados del programa Tecnología en Gastronomía y Arte Culinario del Politécnico Internacional, 
            son capaces de desarrollarse laboralmente en cocina nacional e internacional, pastelería, enología, barismo, 
            coctelería y servicio a la mesa.
          </p>
         
         
        </ion-label>
        
      
    </ion-item>
     </a>
     <a href="#">
      <ion-item>
  
        <ion-avatar slot="start">
         <img src="assets/Imagenes/negocio.png">
        </ion-avatar>
          <ion-label >
            <h2>Tegnologia en Comercio Exterior y  Negocios Internacionales </h2>
            <p> 
            
              El egresado del programa Tecnología en Comercio Exterior y Negocios Internacionales gestiona procesos de importación, 
              exportación y logística de las operaciones de comercio nacional e internacional,
              cumpliendo con los requerimientos de la normatividad vigente y las oportunidades comerciales para apoyar los procesos de negociación,
              diseñando e implementando proyectos de desarrollo empresarial en comercio internacional.
            </p>
           
           
          </ion-label>
          
        
      </ion-item>
       </a>
       <a href="#">
        <ion-item>
    
          <ion-avatar slot="start">
           <img src="assets/Imagenes/software.jpg">
          </ion-avatar>
            <ion-label >
              <h2>Tegnologia en Desarrollo de Software y  Aplicativos Moviles </h2>
              <p> 
                El egresado del programa Tecnología en Desarrollo de Software y Aplicativos Móviles gestiona el proceso de desarrollo de software y aplicaciones web y móviles, 
                teniendo en cuenta el soporte, mantenimiento de los sistemas y estándares de calidad, 
                con el fin de cumplir con los requerimientos de gestión y control de la información de las organizaciones.
              </p>
             
             
            </ion-label>
            
          
        </ion-item>
         </a>
         <a href="#">
          <ion-item>
      
            <ion-avatar slot="start">
             <img src="assets/Imagenes/mercadeo.jpg">
            </ion-avatar>
              <ion-label >
                <h2>Tegnologia en Mercadeo  y  Estrategias Comerciales </h2>
                <p> 
                  El egresado del programa Tecnología en Mercadeo y Estrategias Comerciales apoya, 
                  coordina y controla los procesos de mercadeo y ventas que intervienen en la comercialización de productos y servicios pertenecientes a diferentes sectores empresariales, 
                  logrando ofrecer soluciones de valor al consumidor con el fin de generar estrategias de fidelización y posicionamiento de marca.
                </p>
               
               
              </ion-label>
              
            
          </ion-item>
           </a>


           
</ion-list>

<h3>Tegnologias Modalidad Virtual</h3>

<ion-list>
  <a href="#">
    <ion-item>

      <ion-avatar slot="start">
       <img src="assets/Imagenes/desa.jpg">
      </ion-avatar>
        <ion-label >
          <h2>Tegnologia en Desarrollo de Software y  Aplicativos Moviles </h2>
          <p> 
            El egresado del programa Tecnología en Desarrollo de Software y Aplicativos Móviles gestiona el proceso de desarrollo de software y aplicaciones web y móviles, 
            teniendo en cuenta el soporte, mantenimiento de los sistemas y estándares de calidad, 
            con el fin de cumplir con los requerimientos de gestión y control de la información de las organizaciones.
          </p>
         
         
        </ion-label>
        
      
    </ion-item>
     </a>

     <a href="#">
      <ion-item>
  
        <ion-avatar slot="start">
         <img src="assets/Imagenes/estrategias.jpg">
        </ion-avatar>
          <ion-label >
            <h2>Tegnologia en Mercadeo  y  Estrategias Comerciales </h2>
            <p> 
              El egresado del programa Tecnología en Mercadeo y Estrategias Comerciales apoya, 
                  coordina y controla los procesos de mercadeo y ventas que intervienen en la comercialización de productos y servicios pertenecientes a diferentes sectores empresariales, 
                  logrando ofrecer soluciones de valor al consumidor con el fin de generar estrategias de fidelización y posicionamiento de marca.
            </p>
           
           
          </ion-label>
          
        
      </ion-item>
       </a>

</ion-list>

</ion-content>
<style type="text/css">
h1{
  text-align: center;
  font-family: verdana;
  color: #063985;
}
h3{
  text-align: center;
  color: #063985;
}
a{
  text-decoration: none;
}
h2{
  font-family: helvetica;
}

</style>