<ion-header>
  <ion-toolbar>
    <ion-title>¿Quienes somos?</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button name="principal">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="azul">
  <div class="dive">

    <span class="dot"> <img class="im" src="assets/Imagenes/logos.png"></span>
  </div>
  <div class="divi">
  <ion-card>
    <ion-card-header>
   <ion-card-title >Lo que nos diferencia</ion-card-title>
  
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
  </div>
  <div>
    <img src="assets/Imagenes/quien.PNG">
  </div>
 </div>
   
 
   

</ion-content>

<style type="text/css">

.dot {
  height: 250px;
  width: 250px;
  background-color: #063985;
  border-radius: 50%;
  display: inline-block;
  
}
.dive{

  text-align: center;
  margin-top: 50px;
 
}
.im{
  margin-top: 25px;
}

.divi{

  background-color: white;
}
.azul{
  background-image: url("assets/Imagenes/fondo.jpg");
  margin-top: -12%;
}
ion-card-title{
  text-align: center;
  font-style: normal;
  font-family: arial narrow;
  color: #063985;
  font-size: 25px;
}

</style>
