<ion-header [translucent]="true">
  <header>
    <ion-img src="assets/Imagenes/poliapp.png"></ion-img>
  </header>
  <ion-toolbar >
    
    <ion-title ></ion-title>
    
    <ion-buttons slot="start">
      <ion-menu-button name="principal">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

 

    <ion-list>
      
      <ion-header>
        
        <ion-slides pager="true">
          
              <ion-slide>   
                <img src="assets/Imagenes/calle80.png" alt="not image"> 
               </ion-slide>
               <ion-slide>
                 <img src="assets/Imagenes/avchile.jpg" alt="not image">
               </ion-slide>
               <ion-slide>
                 <img src="assets/Imagenes/kenedy.png" alt="not image">
               </ion-slide>
               <ion-slide>
                 <img src="assets/Imagenes/sur.png" alt="not image">
               </ion-slide>
            
         
        </ion-slides>
      
      </ion-header>
    
        <ion-card>
          <ion-card-header>
           
            <ion-card-title class="ion-text-center" ><b>Beneficios de estudiar en el Politecnico Internacional</b></ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-img src="assets/Imagenes/poli.PNG"></ion-img>
              
  
            
            <br>
            
            <table>
              <tr>
                <td>
                  <strong><ion-label >Empleabilidad</ion-label></strong>
                  <p>El índice de empleabilidad de nuestros egresados es de más del 87%.</p>
                </td>
                <td align="center">
                  
                  <img src="assets/Imagenes/señor.png"> 
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="assets/Imagenes/reloj.png"> 
                </td>
                <td>
                  <strong><ion-label>Flexibilidad en los Horarios</ion-label></strong>
                  <p>para que puedas estudiar de acuerdo a tu ritmo de vida, en modalidad presencial y virtual.</p>
  
                </td>
              </tr>
              <tr>
                <td>
                  <strong><ion-label >Modelo Descentralizado</ion-label></strong>
                  <p>5 sedes estratégicamente ubicadas, para facilitar el acceso educativo a las poblaciones mas vulnerables. </p> 
                </td>
                <td align="center">
                  
                  <img src="assets/Imagenes/cosa.png"> 
                </td>
              </tr>
  
              <tr>
                <td align="center">
                  <img src="assets/Imagenes/compu.png"> 
                </td>
                <td>
                
                  <strong><ion-label >Docentes Excelentes</ion-label></strong>
                  <p>Que saben lo que enseñan, motivan el aprendizaje y se comprometen con su desarrollo académico.</p> 
                </td>
              </tr>
              <tr>
                <td>
                  <strong><ion-label>Planes de Financiacion</ion-label></strong>
                  <p>Que se acomodan a tus necesidades, con aliados que te ayudarán a cumplir tu sueño.</p> 
                </td>
                <td align="center">
                  
                  <img src="assets/Imagenes/hoja.png"> 
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="assets/Imagenes/casa.png"> 
                </td>
                <td>
                
             <strong><ion-label >Guarderia</ion-label></strong>
             <p>Cada sede cuenta con guardería al servicio de nuestros estudiantes, docentes y administrativos.</p> 
          
                </td>
              </tr>
              <tr>
              </table>
          </ion-card-content>
        </ion-card>
      
      
    </ion-list>



  
  
 
  
</ion-content>

<style type="text/css">
p{
  font-family: cursive;
  color: black;
}

ion-title{

  font-family: Tahoma;

  color: black;
 
  
  
}
ion-card-title{
  font-family: sans-serif;
  color: #063985;
 
}

ion-label{

color: #063985;

}

header{
  background-color:#063985;
}



  </style>
